@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --darkblue: #1F2937; 
    --lightblue: #3882F6;
    --lightgrey: #E5E7Eb;
}
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.first-section {
    background-color: var(--darkblue);
    color:white;
    padding:5em;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px
}

.first-section-content > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.first-section-content > p {
    font-size: 24px;
    color: #E5E7EB;
}

.sign-up-button-1 {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--lightblue);
    color: white;
}

.image-placeholder {
    display:flex;
    background-color: grey;
    color:white;
    height: 200px;
    width: 400px;
    align-items: center;
    justify-content: center;
}

/* TODO
/* add two containers to the first sections (one for text and one for an image)
/* fix general margins and padding */