@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    --lightblue: #3882F6;
    --darkblue: #1F2937;
    --textwhite: #F9FAF8;
    --textblack: #1F2937;
    --darkgrey: #E5E7EB;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.first-section {
    background-color: var(--darkblue);
}

.navbar-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:var(--textwhite);
    padding:10px 10rem 7rem;
    font-size:18px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}


.navbar-links {
    display:flex;
    gap:20px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
    color: var(--darkgrey);
}

.first-section-content {
    padding: 0 10rem 7rem;
    color: var(--textwhite);
    display: flex;
    gap: 60px;
    
}

.hero-text-container > h1 {
    font-size:48px;
    font-weight: bolder;
}

.hero-text-container > P {
    font-size: 18px;
}

.image-placeholder {
    background-color: var(--darkgrey);
    height: 400px;
    width: 600px;
}

.sign-up-button-1 {
    border-radius: 10px;
    width: 150px;
    height: 40px;
    color: var(--textwhite);
    background-color: var(--lightblue);
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
}

.second-section {
    padding: 20px 7rem 20px;
}

.second-section-header {
    color: var(--textblack);
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.second-section-container {
    display: flex;
    flex-wrap: wrap;
}

.element-image {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.element1 {
    margin: 10px;
    padding: 100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.element-text {
    text-align: center;
}